@tailwind base;
@tailwind components;
@tailwind utilities;

a,
a:visited {
	text-decoration: underline;
}

.controls {
	top: 45%;
}

.titleHelpText {
	background: rgba(129, 230, 217, 0.9);
}

.verticalText {
	writing-mode: vertical-lr;
}

#howTo {
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#134e4a+0,0f766e+33,0f766e+66,134e4a+100 */
	background: #134e4a; /* Old browsers */
	background: -moz-linear-gradient(top, #134e4a 0%, #0f766e 33%, #0f766e 66%, #134e4a 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #134e4a 0%, #0f766e 33%, #0f766e 66%, #134e4a 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #134e4a 0%, #0f766e 33%, #0f766e 66%, #134e4a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#134e4a', endColorstr='#134e4a',GradientType=0 ); /* IE6-9 */
}

@media (hover: hover) {
	button:hover {
		background-color: #81e6d9;
		box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
	}
}

#streamURLBarControls {
	min-height: 2.5rem;
}
